.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.white {
  color: white
}

.data-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.nft-name {
  font-weight: bold;
  font-size: 2rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  max-width: 176px;
  row-gap: 30px;
}

.grid-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
